@media (max-width: 375px) {
    /* AgroGuru */
    main > .buttons-div > button {
        width: 50%;
    }
    /* Index */
    main .como-funciona {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
