@media (max-width: 768px) {
    .content-card {
        flex-direction: column;
    }

    .content-card > .content {
        flex-direction: column;
    }

    .content-card > .content img {
        width: 100%;
    }

    .content-card > .content article {
        width: 100%;
    }

    main > h1 {
        margin-left: 0;
        text-align: center;
    }

    .input-titulo {
        font-size: 1rem;
    }

    .conjunto-inputs {
        flex-direction: column;
        width: 100%;
    }

    .input-padrao {
        width: 100%;
    }

    .conjunto-inputs > .input-centralizado,
    .conjunto-inputs > .input-padrao {
        width: 100%;
    }

    .conjunto-inputs > .input-centralizado > input,
    .conjunto-inputs > .input-padrao > input,
    .conjunto-inputs > .input-padrao > select,
    .conjunto-inputs > .input-padrao > textarea {
        width: 100%;
    }
    .link-logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link-logo .logo-agroconnect {
        content: url("../assets/logo_agroconnect_mobile.png");
        width: 50%;
        height: 100%;
        object-position: center;
        object-fit: contain;
    }
}
