nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  height: 14vh;
}

.logo-agroguru {
  width: 9%;
}

.logo-nexio {
  width: 7%;
  position: absolute;
  top: 0;
  right: 0;
}

.lista-nav {
  list-style: none;
  display: flex;
}

.lista-nav li {
  margin-left: 32px;
  font-weight: 500;
}

#item-aprenda_mais::after {
    content: " \25BC";
    color: #289022;
    font-size: 12px;
}

.botao-entrar {
  background-color: #289022;
  color: #fff;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(26, 24, 24);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 960px) {
  body {
    overflow-x: hidden;
  }
  .lista-nav {
    position: absolute;
    top: 14vh;
    right: 0;
    width: 50vw;
    height: 86vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .lista-nav li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.lista-nav.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .linha1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2 {
  opacity: 0;
}

.mobile-menu.active .linha3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
