
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h2{
    color: #289022;
    font-size: 2rem;
    margin: 0.5rem 5% 4rem 5%;
}
.content-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5%;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.content article{
    width: 50%;
    font-size: 1.5rem;
}
.content-card img{
    border:#289022 solid .3rem;
    border-radius: 1rem;
    width: 30%
}
