@import url("./style.css");

.secao-pagina-login {
    width: 75%;
	margin: 1.5rem auto;
	background-color: rgba(245, 220, 197, 0.6);
	border-radius: 1rem;
    display: flex;
    height: 25rem;
}

.subsecao-pagina-login {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.subsecao-banner {
    background: url("../assets/foto_colheita.png") center no-repeat;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

.subsecao-banner button {
    width: fit-content;
    margin: 0 auto;
}

.input-conteudo {
    width: 100%;
}

.informacoes-login {
    width: 70%;
    margin: 0 auto;
}
