.rodape {
	display: flex;
	justify-content: space-between;
    align-items: center;
	font-size: 0.75rem;
	flex-wrap: wrap;
    padding: 1rem 0 1rem;
}

.logo-rodape {
	height: 2.2rem;
}

.autores-rodape {
	text-align: end;
	font-weight: 700;
}

.autores-rodape p {
    padding-bottom: 0.1rem;
}
