@import url("./cabecalho.css");
@import url("./rodape.css");
@import url("./principal.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


* {
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
	color: #289022;
	text-decoration: none;
	transition: 0.3s;
}

h1 {
    font-size: 2.25rem;
    color: #289022;
    font-weight: 800;
    padding-top: 1%;
    margin-left: 3.5%;
}

button:hover, .input-enviar:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

fieldset {
	display: inline-block;
	border: none;
}

.botao-padrao {
    background-color: #289022;
    color: #fff;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
  }
