/*CSS relativo às páginas de conteúdo obrigatório (Agrigultura Sustentável, Inteligências Artificiais Generativas e Modelos de Cultivo Eficientes)*/
@import url("../style.css");

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2{
    color: #289022;
    font-size: 2rem;
}

.content-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.content article{
    width: 50%;
    color: #454545;
    text-align: justify;
	margin-bottom: 0.5rem;
}

.content-card img{
    border: solid 0.25rem #289022;
    border-radius: 1rem;
    width: 30%
}

