@import url("../style.css");

.banner {
    background: url("../../assets/fundo_agricultura.png") no-repeat center
        center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-conteudo {
    font-size: 3rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.banner-conteudo-titulo {
    font-weight: 700;
    padding-bottom: 1rem;
}

.banner-conteudo-subtitulo {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.banner a {
    width: fit-content;
    margin: 0 auto;
}

.conteudo-principal {
    margin-top: 4%;
    text-align: center;
}

.conteudo-principal .card-img {
    width: 50%;
    padding: 2rem;
    background-color: #289022;
    border-radius: 50%;
}
.card-img img {
    width: 100%;
    filter: invert(100%);
}
article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.como-funciona .card {
    width: 20%;
    gap: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.como-funciona {
    display: flex;
}
